/*-----------------------------------------------------Desktop------------------------------------------------*/


@media (min-width: 1024px) {
  /*------------menu--------------*/
  
  .nav {
    display: flex;
    justify-content: center;
    max-width: 100%;
    
  }

  .nav-link {
    color: #f2f0eb;
    text-decoration: none;
  }

  .nav-menu {
    display: flex;
    list-style: none;
    padding: 0;
  }

  .nav-menu-item {
    text-align: center;
    font-size: 15px;
    margin: 30px 20px;
    width: 150px;
    text-transform: uppercase;
    background: #0000002f;
    border-radius: 10px;
    box-shadow: 5px 5px 25px #0000006c, -5px -5px 25px #ffffff0e;
  }

  .nav-menu-link {
    padding: 8px 12px;
    border-radius: 10px;
  }

  .nav-menu-link:hover,
  .nav-menu-link_active {
    box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.219);
    background-color: #f2f0eb;
    border-radius: 10px;
    transition: 0.5s;
  }

  /* TOGGLE */
  .nav-toggle {
    color: #f2f0eb;
    background: none;
    border: none;
    font-size: 25px;
    margin-bottom: 10px;
    cursor: pointer;
    display: none;
  }

  /*-----------------consultas------------------*/

  input {
    height: 30px;
  }
}

/*-----------------------------------------------------tablet------------------------------------------------*/

@media (min-width: 480px) and (max-width: 1023px) {
  /*-------------Menu--------------*/

  .nav-menu-link_active {
    box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.219);
    background-color: #f2522e56;
    border-radius: 10px;
    transition: 0.5s;
  }

  /* TOGGLE */
  .nav-toggle {
    color: #f2f0eb;
    background: none;
    border: none;
    font-size: 25px;
    cursor: pointer;
    display: none;
  }

  .nav {
    display: flex;
    justify-content: flex-start;
    margin: 10px 10px 10px 50px;
  }

  .nav-menu {
    flex-direction: column;
    align-items: center;
    background:linear-gradient(to left, #b43427, #380725);
    background-position: center;
    background-size: cover;
    position: absolute;
    border-radius: 0 10px 10px 0;
    box-shadow: 2px 2px 50px 10px rgba(0, 0, 0, 0.614);
    top: 152px;
    width: 30%;
    padding: 0;
    height: 100%;
    left: -100%;
    transition: left 0.3s;
    list-style: none;
  }

  .nav-menu-item {
    font-size: 15px;
    margin: 20px 0 20px 40px;
    text-transform: uppercase;
  }

  .nav-link {
    color: #f2f0eb;
    text-decoration: none;
  }

  .nav-toggle {
    display: block;
  }

  .nav-menu_visible {
    left: 0;
  }

  /*-----------------consultas------------------*/

  input {
    height: 30px;
  }
}

/*----------------------------------------------------Smatphone---------------------------------------------*/

@media (max-width: 479px) {
  /*--------------menu------------*/

  .nav-menu-link_active {
    box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.219);
    background-color: #f2522e56;
    border-radius: 10px;
    transition: 0.5s;
  }

  /* TOGGLE */
  .nav-toggle {
    color: #f2f0eb;
    background: none;
    border: none;
    font-size: 25px;
    cursor: pointer;
    display: none;
  }

  .nav {
    display: flex;
    justify-content: flex-start;
    margin: 10px;
  }

  .nav-menu {
    flex-direction: column;
    align-items: center;
    background:linear-gradient(to left, #b43427, #380725);
    background-position: center;
    background-size: cover;
    position: absolute;
    border-radius: 0 10px 10px 0;
    box-shadow: 2px 2px 50px 10px rgba(0, 0, 0, 0.614);
    top: 135px;
    width: 49%;
    padding: 0;
    height: 100%;
    left: -100%;
    transition: left 0.3s;
    list-style: none;
  }

  .nav-menu-item {
    font-size: 15px;
    margin: 20px 0 20px 20px;
    text-transform: uppercase;
  }

  .nav-link {
    color: #f2f0eb;
    text-decoration: none;
  }

  .nav-toggle {
    display: block;
  }

  .nav-menu_visible {
    left: 0;
  }

  /*-----------------consultas------------------*/

  input {
    height: 30px;
  }
}
