.UI/UX-1-hex {
  color: #40012a;
}
.UI/UX-2-hex {
  color: #590242;
}
.UI/UX-3-hex {
  color: #f2f0eb;
}
.UI/UX-4-hex {
  color: #f2522e;
}
.UI/UX-5-hex {
  color: #f24130;
}

/*-----------------------------------------------------Desktop------------------------------------------------*/

@media (min-width: 1024px) {
  body {
    background-image: url(/multimedia/fondo.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    color: #f2f0eb;
    font-family: "Nunito Sans", sans-serif;
  }

  /*------------imagenes---------------*/

  img {
    width: 90%;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.418);
  }

  .inicio {
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
  }

  /*-------------iframe------------*/

  iframe {
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.418);
  }

  /*----------header---Titulo----------*/

  header {
    margin: 15px;
  }

  header h1 {
    color: #f2f0eb;
    letter-spacing: 7px;
    margin: 0px;
    font-family: "Montserrat", sans-serif;
  }

  header h2 {
    color: #f2f0eb;
    letter-spacing: 5px;
    margin: 0px;
    font-family: "Montserrat", sans-serif;
  }

  /*------------menu--------------*/

  .nav {
    display: flex;
    justify-content: center;

    max-width: 992px;
    margin: 0 auto;
  }

  .nav-link {
    color: #f2f0eb;
    text-decoration: none;
  }

  .nav-menu {
    display: flex;
    list-style: none;
    padding: 0;
  }

  .nav-menu-item {
    font-size: 15px;
    margin: 0 70px;
    text-transform: uppercase;
  }

  .nav-menu-link {
    padding: 8px 12px;
    border-radius: 10px;
  }

  .nav-menu-link:hover,
  .nav-menu-link_active {
    box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.219);
    background-color: #f2522e56;
    border-radius: 10px;
    transition: 0.5s;
  }

  /* TOGGLE */
  .nav-toggle {
    color: #f2f0eb;
    background: none;
    border: none;
    font-size: 25px;
    margin-bottom: 10px;
    cursor: pointer;
    display: none;
  }

  /*------------index-----------*/

  .textosIndex {
    background-color: #00000088;
    border-radius: 10px;
    box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.418);
  }

  /*----------pagina-trabajos------------*/

  .fondosTexto {
    box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.418);
    background-color: #40012a9f;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
  }

  .tituloTrabajo {
    padding: 20px;
    font-weight: bold;
  }

  .trabajosTexto1 {
    font-weight: bold;
  }

  /*----------animacion-------------*/

  .nombreDePagina {
    animation-name: nombres;
    animation-duration: 2s;
  }

  @keyframes nombres {
    from {
      transform: translateX(-500px);
      opacity: 0;
    }

    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  /*--------------pie--------------*/

  footer {
    padding: 20px 0 20px 0;
  }

  .redes {
    margin: 0 0 20px 0;
  }

  svg {
    color: white;
    margin: 5px;
  }

  a :hover {
    color: #f2522e;
  }

  /*------------------premios-----------------*/

  .gridPremios {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    height: 150px;
    padding: 5px;
    margin: 30px 0 30px 0;
    text-align: center;
  }

  .gridPremio1 {
    display: grid;
    width: 60%;
    box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.418);
    background-color: #40012a9f;
    border-radius: 10px;
    padding: 25px;
    text-align: center;
  }

  .gridPremio2 {
    display: grid;
    width: 60%;
    box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.418);
    background-color: #40012a9f;
    border-radius: 10px;
    padding: 25px;
  }

  .fondosTexto {
    padding: 25px;
    width: 30%;
    margin: 10px;
  }
}

/*-----------------------------------------------------tablet------------------------------------------------*/

@media (min-width: 480px) and (max-width: 1023px) {
  body {
    background-image: url(/multimedia/fondo.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    color: #f2f0eb;
  }

  /*------------imagenes---------------*/

  img {
    width: 90%;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.418);
  }

  .inicio {
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
  }

  /*-------------iframe------------*/

  iframe {
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.418);
  }

  /*----------header---Titulo----------*/

  header {
    margin: 15px;
  }

  header h1 {
    color: #f2f0eb;
    letter-spacing: 7px;
    margin: 0px;
  }

  header h2 {
    color: #f2f0eb;
    letter-spacing: 5px;
    margin: 0px;
  }

  /*-------------Menu--------------*/

  .nav-menu-link_active {
    box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.219);
    background-color: #f2522e56;
    border-radius: 10px;
    transition: 0.5s;
  }

  /* TOGGLE */
  .nav-toggle {
    color: #f2f0eb;
    background: none;
    border: none;
    font-size: 25px;
    cursor: pointer;
    display: none;
  }

  .nav {
    display: flex;
    justify-content: flex-start;
    margin: 10px 10px 10px 50px;
  }

  .nav-menu {
    flex-direction: column;
    align-items: center;
    background-image: url(/multimedia/fondo.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    border-radius: 0 10px 10px 0;
    box-shadow: 2px 2px 50px 10px rgba(0, 0, 0, 0.614);
    top: 152px;
    width: 30%;
    padding: 0;
    height: 100%;
    left: -100%;
    transition: left 0.3s;
    list-style: none;
  }

  .nav-menu-item {
    font-size: 15px;
    margin: 20px 0 20px 40px;
    text-transform: uppercase;
  }

  .nav-link {
    color: #f2f0eb;
    text-decoration: none;
  }

  .nav-toggle {
    display: block;
  }

  .nav-menu_visible {
    left: 0;
  }

  /*----------pagina-trabajos------------*/

  .fondosTexto {
    box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.418);
    background-color: #40012a9f;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
  }

  .tituloTrabajo {
    padding: 20px;
    font-weight: bold;
  }

  .trabajosTexto1 {
    font-weight: bold;
  }

  .trabajosTexto2 {
    font-weight: bold;
  }

  /*----------animacion-------------*/

  .nombreDePagina {
    animation-name: nombres;
    animation-duration: 2s;
  }

  @keyframes nombres {
    from {
      transform: translateX(-500px);
      opacity: 0;
    }

    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  /*--------------pie--------------*/

  footer {
    padding: 20px 0 20px 0;
  }

  .redes {
    margin: 0 0 20px 0;
  }

  svg {
    color: white;
    margin: 5px;
  }

  /*------------------premios-----------------*/

  .gridPremios {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    height: 150px;
    padding: 5px;
    margin: 30px 0 30px 0;
    text-align: center;
  }

  .gridPremio1 {
    display: grid;
    width: 60%;
    box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.418);
    background-color: #40012a9f;
    border-radius: 10px;
    padding: 25px;
    text-align: center;
  }

  .gridPremio2 {
    display: grid;
    width: 60%;
    box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.418);
    background-color: #40012a9f;
    border-radius: 10px;
    padding: 25px;
  }
}

/*----------------------------------------------------Smatphone---------------------------------------------*/

@media (max-width: 479px) {
  body {
    background-image: url(/multimedia/fondo.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .matanza {
    width: 90%;
    height: 94%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    color: #f2f0eb;
  }

  /*------------imagenes---------------*/

  img {
    width: 90%;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.418);
  }

  .inicio {
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
  }

  /*-------------iframe------------*/

  iframe {
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.418);
  }

  /*----------header---Titulo----------*/

  header {
    margin: 15px;
  }

  header h1 {
    color: #f2f0eb;
    letter-spacing: 7px;
    margin: 0px;
  }

  header h2 {
    color: #f2f0eb;
    letter-spacing: 5px;
    margin: 0px;
  }

  /*--------------menu------------*/

  .nav-menu-link_active {
    box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.219);
    background-color: #f2522e56;
    border-radius: 10px;
    transition: 0.5s;
  }

  /* TOGGLE */
  .nav-toggle {
    color: #f2f0eb;
    background: none;
    border: none;
    font-size: 25px;
    cursor: pointer;
    display: none;
  }

  .nav {
    display: flex;
    justify-content: flex-start;
    margin: 10px;
  }

  .nav-menu {
    flex-direction: column;
    align-items: center;
    background-image: url(/multimedia/fondo.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    border-radius: 0 10px 10px 0;
    box-shadow: 2px 2px 50px 10px rgba(0, 0, 0, 0.614);
    top: 146px;
    width: 49%;
    padding: 0;
    height: 100%;
    left: -100%;
    transition: left 0.3s;
    list-style: none;
  }

  .nav-menu-item {
    font-size: 15px;
    margin: 20px 0 20px 20px;
    text-transform: uppercase;
  }

  .nav-link {
    color: #f2f0eb;
    text-decoration: none;
  }

  .nav-toggle {
    display: block;
  }

  .nav-menu_visible {
    left: 0;
  }

  /*------------index-----------*/

  .textosIndex {
    background-color: #00000088;
    border-radius: 10px;
    box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.418);
    font-weight: bold;
  }

  .tituloIndex {
    font-size: 15px;
  }

  .parrafoIndex {
    font-size: 9px;
    margin: 2px;
  }

  .gridContainer1 {
    display: grid;
    grid-template-columns: 48% 48%;
    justify-content: space-between;
    padding: 5px;
    height: 170px;
    margin-bottom: 10px;
  }

  .gridContainer2 {
    display: grid;
    grid-template-columns: 48% 48%;
    justify-content: space-between;
    height: 170px;
    padding: 5px;
  }

  .gridImg {
    box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.418);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    height: 170px;
  }

  .gridText {
    box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.418);
    background-color: #40012a9f;
    border-radius: 10px;
    padding: 0px;
    height: 170px;
    text-align: center;
  }

  /*----------pagina-trabajos------------*/

  .fondosTexto {
    box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.418);
    background-color: #40012a9f;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
    width: 90%;
  }

  .tituloTrabajo {
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
  }

  .trabajosTexto1 {
    font-size: 17px;
    font-weight: bold;
  }

  .trabajosTexto2 {
    font-size: 12px;
    font-weight: bold;
  }

  /*----------animacion-------------*/

  .nombreDePagina {
    animation-name: nombres;
    animation-duration: 2s;
  }

  @keyframes nombres {
    from {
      transform: translateX(-500px);
      opacity: 0;
    }

    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  /*--------------pie--------------*/

  footer {
    padding: 20px 0 20px 0;
  }

  .redes {
    margin: 0 0 20px 0;
  }

  svg {
    color: white;
    margin: 5px;
  }

  /*---------------pagina--premios-----------------*/

  .gridPremios {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    height: 150px;
    padding: 10px;
    margin: 30px 0 30px 0;
  }

  .gridPremio1 {
    display: grid;
    width: 90%;
    box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.418);
    background-color: #40012a9f;
    border-radius: 10px;
    padding: 10px;
  }

  .gridPremio2 {
    display: grid;
    width: 90%;
    box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.418);
    background-color: #40012a9f;
    border-radius: 10px;
    padding: 10px;
  }
}
