
/*-----------------------------------------------------Desktop------------------------------------------------*/

@media (min-width: 1024px) {
  
  /*------------menu--------------*/

  .nav {
    display: flex;
    justify-content: center;

    max-width: 992px;
    margin: 0 auto;
  }

  .nav-link {
    color: #f2f0eb;
    text-decoration: none;
  }

  .nav-menu {
    display: flex;
    list-style: none;
    padding: 0;
  }

  .nav-menu-item {
    font-size: 15px;
    margin: 0 70px;
    text-transform: uppercase;
  }

  .nav-menu-link {
    padding: 8px 12px;
    border-radius: 10px;
  }

  .nav-menu-link:hover,
  .nav-menu-link_active {
    box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.219);
    background-color: #f2522e56;
    border-radius: 10px;
    transition: 0.5s;
  }

  /* TOGGLE */
  .nav-toggle {
    color: #f2f0eb;
    background: none;
    border: none;
    font-size: 25px;
    margin-bottom: 10px;
    cursor: pointer;
    display: none;
  }

}

/*-----------------------------------------------------tablet------------------------------------------------*/

@media (min-width: 480px) and (max-width: 1023px) {
 
  /*-------------Menu--------------*/

  .nav-menu-link_active {
    box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.219);
    background-color: #f2522e56;
    border-radius: 10px;
    transition: 0.5s;
  }

  /* TOGGLE */
  .nav-toggle {
    color: #f2f0eb;
    background: none;
    border: none;
    font-size: 25px;
    cursor: pointer;
    display: none;
  }

  .nav {
    display: flex;
    justify-content: flex-start;
    margin: 10px 10px 10px 50px;
  }

  .nav-menu {
    flex-direction: column;
    align-items: center;
    background-image: url(/multimedia/fondo.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    border-radius: 0 10px 10px 0;
    box-shadow: 2px 2px 50px 10px rgba(0, 0, 0, 0.614);
    top: 152px;
    width: 30%;
    padding: 0;
    height: 100%;
    left: -100%;
    transition: left 0.3s;
    list-style: none;
  }

  .nav-menu-item {
    font-size: 15px;
    margin: 20px 0 20px 40px;
    text-transform: uppercase;
  }

  .nav-link {
    color: #f2f0eb;
    text-decoration: none;
  }

  .nav-toggle {
    display: block;
  }

  .nav-menu_visible {
    left: 0;
  }


}

/*----------------------------------------------------Smatphone---------------------------------------------*/

@media (max-width: 479px) {
  
  /*--------------menu------------*/

  .nav-menu-link_active {
    box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.219);
    background-color: #f2522e56;
    border-radius: 10px;
    transition: 0.5s;
  }

  /* TOGGLE */
  .nav-toggle {
    color: #f2f0eb;
    background: none;
    border: none;
    font-size: 25px;
    cursor: pointer;
    display: none;
  }

  .nav {
    display: flex;
    justify-content: flex-start;
    margin: 10px;
  }

  .nav-menu {
    flex-direction: column;
    align-items: center;
    background-image: url(/multimedia/fondo.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    border-radius: 0 10px 10px 0;
    box-shadow: 2px 2px 50px 10px rgba(0, 0, 0, 0.614);
    top: 146px;
    width: 49%;
    padding: 0;
    height: 100%;
    left: -100%;
    transition: left 0.3s;
    list-style: none;
  }

  .nav-menu-item {
    font-size: 15px;
    margin: 20px 0 20px 20px;
    text-transform: uppercase;
  }

  .nav-link {
    color: #f2f0eb;
    text-decoration: none;
  }

  .nav-toggle {
    display: block;
  }

  .nav-menu_visible {
    left: 0;
  }
 
}
