html {
    font-size: 10px;
}

$colorTipografias : #f2f0eb;
$fondosTexto :#40012a2b;
$hoverRedes : #f2522e;
$iconosRedes : #ffffff;
$sombras : 2px 2px 20px 10px rgba(0, 0, 0, 0.418);
$tipografiaTitulo : "Montserrat", sans-serif;

@each $tipografias in h1, h2, h3, h4, h5, h6, p {
    #{$tipografias} {
        color: $colorTipografias;
        font-family: "Nunito Sans", sans-serif;
    }
}

@import "todoMixin";

/*-----------------------------------------------------Desktop------------------------------------------------*/

@media (min-width: 1024px) {

    body {
        @include fondo
    }

    /*---------------HEADER-----------------*/

    header {
        margin: 20px;

        h1 {
            @include titulos(7px, 4.5rem);

        }

        h2 {
            @include titulos(8px, 3.5rem);

        }
    }

    /*------------------IMAGENES---------------*/

    img {
        @include imagenes
    }

    /*-------------------ANIMACION-----------------*/

    .nombreDePagina {
        @include animacion
    }

    /*------------------INDEX GRID----------------*/

    .gridContainer1 {
        @include gridsIndex(60% 40%, 3rem, 2rem, 5px 0px, cover);

        .gridImg {
            margin: 0 10px;
        }

        .gridText {
            margin: 0 10px;
        }
    }

    .gridContainer2 {
        @include gridsIndex(40% 60%, 3rem, 2rem, 5px 0px, cover);

        .gridImg {
            margin: 0 10px;
        }

        .gridText {
            margin: 0 10px;
        }
    }

    /*---------------PAGINA TRABAJO------------*/

    .gridTrabajo {
        @include trabajo(20px, 2.2rem, 25px, 30%, 1.7rem);

        .fondosTexto {
            margin: 10px;
        }

    }

    iframe {
        @include videos
    }

    /*-------------------PREMIOS----------------*/

    .gridPremios {
        @include premios (5px, 60%, 25px);
    }

    /*-------------TEXTO LEGAl--------------*/

    footer {
        padding: 20px 0 20px 0;
        font-size: 1.7rem;
    }

    /*-------------------REDES--------------------*/

    .redes {
        margin: 0 0 20px 0;

        a {
            svg {
                &:hover {
                    color: $hoverRedes
                }

                color: $iconosRedes;
                margin: 5px;
            }
        }
    }

}

/*-----------------------------------------------------tablet------------------------------------------------*/

@media (min-width: 480px) and (max-width: 1023px) {

    body {
        @include fondo
    }

    /*---------------HEADER-----------------*/

    header {
        margin: 15px;

        h1 {
            @include titulos(5px, 3.5rem);
        }

        h2 {
            @include titulos(6px, 2.5rem);
        }
    }

    /*------------------IMAGENES---------------*/

    img {
        @include imagenes
    }

    /*-------------------ANIMACION-----------------*/

    .nombreDePagina {
        @include animacion
    }

    /*------------INDEX GRID-------------*/

    .gridContainer1 {
        @include gridsIndex(60% 40%, 2rem, 1.5rem, 2px 0px, 150%);

        .gridImg {
            margin: 0 10px;
        }

        .gridText {
            margin: 0 10px;
        }
    }

    .gridContainer2 {
        @include gridsIndex(40% 60%, 2rem, 1.5rem, 2px 0px, 150%);

        .gridImg {
            margin: 0 10px;
        }

        .gridText {
            margin: 0 10px;
        }
    }

    /*-----------PAGINA TRABAJO--------------*/

    .gridTrabajo {
        @include trabajo(20px, 2.2rem, 25px, 90%, 1.7rem);

    }

    iframe {
        @include videos;
    }

    /*-----------------PREMIOS----------------*/

    .gridPremios {
        @include premios (5px, 60%, 25px);
    }

    /*-------------------REDES--------------------*/

    .redes {
        margin: 0 0 20px 0;

        a {
            svg {
                color: $iconosRedes;
                margin: 5px;
            }
        }
    }

    /*----------------TEXTO LEGAL---------------*/

    footer {
        padding: 20px 0 20px 0;
        font-size: 1.2rem;
    }

}

/*----------------------------------------------------Smatphone---------------------------------------------*/

@media (max-width: 479px) {

    body {
        @include fondo
    }

    /*------------------HEADER---------------------*/

    header {
        margin: 15px;

        h1 {
            @include titulos(4px, 2.5rem);
        }

        h2 {
            @include titulos(4px, 2rem);
        }
    }

    /*------------------IMAGENES---------------*/

    img {
        @include imagenes
    }

    /*-------------------ANIMACION-----------------*/

    .nombreDePagina {
        @include animacion
    }

    /*------------------INDEX GRID--------------------*/

    .gridContainer1 {
        @include gridsIndex(48% 48%, 1.5rem, 1rem, 2px 0px, 200%);
        justify-content: space-between;
        height: 170px;
        margin-bottom: 10px;

        .gridImg {
            height: 170px;
        }

        .gridText {
            height: 170px;
        }
    }

    .gridContainer2 {
        @include gridsIndex(48% 48%, 1.5rem, 1rem, 2px 0px, 200%);
        justify-content: space-between;
        height: 170px;

        .gridImg {
            height: 170px;
        }

        .gridText {
            height: 170px;
        }
    }

    /*---------------PAGINA TRABAJO---------------*/

    .gridTrabajo {
        @include trabajo(5px, 1.7rem, 15px, 90%, 1.2rem);
    }

    iframe {
        @include videos
    }

    .flymopVideo {
        width: 100%;
    }

    /*---------------PREMIOS--------------------*/

    .gridPremios {
        @include premios (10px, 90%, 10px);
    }

    /*------------------REDES----------------*/

    .redes {
        margin: 0 0 20px 0;

        a {
            svg {
                color: $iconosRedes;
                margin: 5px;
            }
        }
    }

    /*---------------TEXTO LEGAL--------------*/

    footer {
        padding: 20px 0 20px 0;
        font-size: 1.2rem;
    }

}